<ion-view view-title="Let's Count 123">
  <ion-content>
    <div class="row">
      <div class="col">
          <a ng-click="a1()" class="button button-energized">1</a>
          
      </div>
      <div class="col">
        <div ng-show="a1isVisible">
              <img ng-src="img/1.jpg"/>
          </div>  
      </div>
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a2()" class="button button-positive">2</a>
          
      </div>
      <div class="col">
          <div ng-show="a2isVisible" class="pull-right">
              <img ng-src="img/2.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a3()" class="button button-royal">3</a>
          
      </div>
      <div class="col">
          <div ng-show="a3isVisible" class="pull-right">
              <img ng-src="img/3.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a4()" class="button button-assertive">4</a>
          
      </div>
      <div class="col">
          <div ng-show="a4isVisible" class="pull-right">
              <img ng-src="img/4.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a5()" class="button button-energized">5</a>
          
      </div>
      <div class="col">
          <div ng-show="a5isVisible" class="pull-right">
              <img ng-src="img/5.jpg"/>
          </div>  
      </div>  
    </div>
      
    
      
      
    <div class="row">
      <div class="col">
          <a ng-click="a6()" class="button button-dark">6</a>
          
      </div>
      <div class="col">
        <div ng-show="a6isVisible">
              <img ng-src="img/6.jpg"/>
          </div>  
      </div>
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a7()" class="button button-positive">7</a>
          
      </div>
      <div class="col">
          <div ng-show="a7isVisible" class="pull-right">
              <img ng-src="img/7.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a8()" class="button button-royal">8</a>
          
      </div>
      <div class="col">
          <div ng-show="a8isVisible" class="pull-right">
              <img ng-src="img/8.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a9()" class="button button-assertive">9</a>
          
      </div>
      <div class="col">
          <div ng-show="a9isVisible" class="pull-right">
              <img ng-src="img/9.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="a10()" class="button button-energized">10</a>
          
      </div>
      <div class="col">
          <div ng-show="a10isVisible" class="pull-right">
              <img ng-src="img/10.jpg"/>
          </div>  
      </div>  
    </div>
    
      
 </ion-content>
</ion-view>