<ion-view view-title="Let's Count 123">
  <ion-content>
      <br>
      <br>
      <br>
      <br>
      <center>
    <div class="row">
       <div class="col">
        <button ng-click="number1.show()" class="button button-energized"><strong>1</strong></button>
        <button ng-click="number2.show()" class="button button-positive"><strong>2</strong></button>
        <button ng-click="number3.show()" class="button button-royal"><strong>3</strong></button>
        <button ng-click="number4.show()" class="button button-assertive"><strong>4</strong></button>
        <button ng-click="number5.show()" class="button button-balanced"><strong>5</strong></button>
      </div>
      </div>
    
    <div class="row">
      <div class="col">
        <button ng-click="number6.show()" class="button button-energized"><strong>6</strong></button>
        <button ng-click="number7.show()" class="button button-positive"><strong>7</strong></button> 
        <button ng-click="number8.show()" class="button button-royal"><strong>8</strong></button>
        <button ng-click="number9.show()" class="button button-assertive"><strong>9</strong></button>
        <button ng-click="number10.show()" class="button button-balanced"><strong>10</strong></button>
      </div>
    </div>
    <div class="row">
       <div class="col">
        <button ng-click="number11.show()" class="button button-energized"><strong>11</strong></button>
        <button ng-click="number12.show()" class="button button-positive"><strong>12</strong></button>
        <button ng-click="number13.show()" class="button button-royal"><strong>13</strong></button>
        <button ng-click="number14.show()" class="button button-assertive"><strong>14</strong></button>
        <button ng-click="number15.show()" class="button button-balanced"><strong>15</strong></button>
      </div>
    </div>
    <div class="row">
       <div class="col">
        <button ng-click="number16.show()" class="button button-energized"><strong>16</strong></button>
        <button ng-click="number17.show()" class="button button-positive"><strong>17</strong></button>
        <button ng-click="number18.show()" class="button button-royal"><strong>18</strong></button>
        <button ng-click="number19.show()" class="button button-assertive"><strong>19</strong></button>
        <button ng-click="number20.show()" class="button button-balanced"><strong>20</strong></button>
      </div>
    </div>
</center>
 </ion-content>
</ion-view>