<ion-view view-title="Let's Count 123">
  <ion-content>
    <div class="row">
      <div class="col">
        <button ng-click="number1.show()" class="button button-energized">1</button>
      </div>
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number2.show()" class="button button-positive">2</button> 
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number3.show()" class="button button-royal">3</button>
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number4.show()" class="button button-assertive">4</button>
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number5.show()" class="button button-energized">5</button>
      </div>  
    </div>
    <div class="row">
      <div class="col">
        <button ng-click="number6.show()" class="button button-dark">6</button>
      </div>
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number7.show()" class="button button-positive">7</button>  
      </div>
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number8.show()" class="button button-royal">8</button>
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number9.show()" class="button button-assertive">9</button>
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="number10.show()" class="button button-energized">10</button>
      </div>
    </div>
 </ion-content>
</ion-view>