<ion-view view-title="Learn your ABC">
  <ion-content>
      <br>
      <center>
    <div class="row">
      <div class="col">
          <button ng-click="A.show();Aaudio();" class="button button-energized">A</button>
          <button ng-click="B.show();Baudio();" class="button button-positive">B</button>
          <button ng-click="C.show();Caudio();" class="button button-royal">C</button>
          <button ng-click="D.show();Daudio();" class="button button-assertive">D</button>
          <button ng-click="E.show();Eaudio();" class="button button-balanced">E</button>
      </div>
    </div>
          
    <div class="row">
      <div class="col">
          <button ng-click="F.show();Faudio();" class="button button-energized">F</button>
          <button ng-click="G.show();Gaudio();" class="button button-positive">G</button>
          <button ng-click="H.show();Haudio();" class="button button-royal">H</button>
          <button ng-click="I.show();Iaudio();" class="button button-assertive">I</button>
          <button ng-click="J.show();Jaudio();" class="button button-balanced">J</button>
      </div>  
    </div>

    <div class="row">
      <div class="col">
          <button ng-click="K.show();Kaudio();" class="button button-energized">K</button>
          <button ng-click="L.show();Laudio();" class="button button-positive">L</button>
          <button ng-click="M.show();Maudio();" class="button button-royal">M</button>
          <button ng-click="N.show();Naudio();" class="button button-assertive">N</button>
          <button ng-click="O.show();Oaudio();" class="button button-balanced">O</button>
      </div>
    </div>

    <div class="row">
     <div class="col">
         <button ng-click="P.show();Paudio();" class="button button-energized">P</button>
         <button ng-click="Q.show();Qaudio();" class="button button-positive">Q</button>
         <button ng-click="R.show();Raudio();" class="button button-royal">R</button>
         <button ng-click="S.show();Saudio();" class="button button-assertive">S</button>
         <button ng-click="T.show();Taudio();" class="button button-balanced">T</button>
      </div>
    </div>

    <div class="row">
     <div class="col">
         <button ng-click="U.show();Uaudio();" class="button button-energized">U</button>
         <button ng-click="V.show();Vaudio();" class="button button-positive">V</button>
         <button ng-click="W.show();Waudio();" class="button button-royal">W</button>
         <button ng-click="X.show();Xaudio();" class="button button-assertive">X</button>
         <button ng-click="Y.show();Yaudio();" class="button button-balanced">Y</button>
      </div> 
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="Z.show();Zaudio();" class="button button-energized">Z</button>
      </div> 
    </div>
   </center>   
 </ion-content>
</ion-view>