<ion-view view-title="Learn your ABC">
  <ion-content>
    <div class="row">
      <div class="col">
          <a ng-click="A()" class="button button-energized">A</a>
          
      </div>
      <div class="col">
        <div ng-show="AisVisible">
              <img ng-src="img/A.jpg"/>
          </div>  
      </div>
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="B()" class="button button-positive">B</a>
          
      </div>
      <div class="col">
          <div ng-show="BisVisible" class="pull-right">
              <img ng-src="img/B.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="C()" class="button button-royal">C</a>
          
      </div>
      <div class="col">
          <div ng-show="CisVisible" class="pull-right">
              <img ng-src="img/C.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="D()" class="button button-assertive">D</a>
          
      </div>
      <div class="col">
          <div ng-show="DisVisible" class="pull-right">
              <img ng-src="img/D.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="E()" class="button button-energized">E</a>
          
      </div>
      <div class="col">
          <div ng-show="EisVisible" class="pull-right">
              <img ng-src="img/E.jpg"/>
          </div>  
      </div>  
    </div>
      
    
      
      
    <div class="row">
      <div class="col">
          <a ng-click="F()" class="button button-dark">F</a>
          
      </div>
      <div class="col">
        <div ng-show="FisVisible">
              <img ng-src="img/F.jpg"/>
          </div>  
      </div>
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="G()" class="button button-positive">G</a>
          
      </div>
      <div class="col">
          <div ng-show="GisVisible" class="pull-right">
              <img ng-src="img/G.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="H()" class="button button-royal">H</a>
          
      </div>
      <div class="col">
          <div ng-show="HisVisible" class="pull-right">
              <img ng-src="img/H.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="I()" class="button button-assertive">I</a>
          
      </div>
      <div class="col">
          <div ng-show="IisVisible" class="pull-right">
              <img ng-src="img/I.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="J()" class="button button-energized">J</a>
          
      </div>
      <div class="col">
          <div ng-show="JisVisible" class="pull-right">
              <img ng-src="img/J.jpg"/>
          </div>  
      </div>  
    </div>
      
      
      
      
      <div class="row">
      <div class="col">
          <a ng-click="K()" class="button button-dark">K</a>
          
      </div>
      <div class="col">
        <div ng-show="KisVisible">
              <img ng-src="img/K.jpg"/>
          </div>  
      </div>
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="L()" class="button button-positive">L</a>
          
      </div>
      <div class="col">
          <div ng-show="LisVisible" class="pull-right">
              <img ng-src="img/L.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="M()" class="button button-royal">M</a>
          
      </div>
      <div class="col">
          <div ng-show="MisVisible" class="pull-right">
              <img ng-src="img/M.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="N()" class="button button-assertive">N</a>
          
      </div>
      <div class="col">
          <div ng-show="NisVisible" class="pull-right">
              <img ng-src="img/N.jpg"/>
          </div>  
      </div>  
    </div>
    <div class="row">
     <div class="col">
        <a ng-click="O()" class="button button-energized">O</a>
          
      </div>
      <div class="col">
          <div ng-show="OisVisible" class="pull-right">
              <img ng-src="img/O.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="P()" class="button button-dark">P</a>
          
      </div>
      <div class="col">
          <div ng-show="PisVisible" class="pull-right">
              <img ng-src="img/P.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="Q()" class="button button-positive">Q</a>
          
      </div>
      <div class="col">
          <div ng-show="QisVisible" class="pull-right">
              <img ng-src="img/Q.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="R()" class="button button-royal">R</a>
          
      </div>
      <div class="col">
          <div ng-show="RisVisible" class="pull-right">
              <img ng-src="img/R.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="S()" class="button button-assertive">S</a>
          
      </div>
      <div class="col">
          <div ng-show="SisVisible" class="pull-right">
              <img ng-src="img/S.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="T()" class="button button-energized">T</a>
          
      </div>
      <div class="col">
          <div ng-show="TisVisible" class="pull-right">
              <img ng-src="img/T.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="U()" class="button button-dark">U</a>
          
      </div>
      <div class="col">
          <div ng-show="UisVisible" class="pull-right">
              <img ng-src="img/U.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="V()" class="button button-positive">V</a>
          
      </div>
      <div class="col">
          <div ng-show="VisVisible" class="pull-royal">
              <img ng-src="img/V.jpg"/>
          </div>  
      </div>  
    </div>
      <div class="row">
     <div class="col">
        <a ng-click="W()" class="button button-assertive">W</a>
          
      </div>
      <div class="col">
          <div ng-show="WisVisible" class="pull-right">
              <img ng-src="img/W.jpg"/>
          </div>  
      </div>
      </div>
      <div class="row">
     <div class="col">
        <a ng-click="X()" class="button button-energized">X</a>
          
      </div>
      <div class="col">
          <div ng-show="XisVisible" class="pull-right">
              <img ng-src="img/X.jpg"/>
          </div>  
      </div>
      </div>
       <div class="row">
     <div class="col">
        <a ng-click="Y()" class="button button-dark">Y</a>
          
      </div>
      <div class="col">
          <div ng-show="YisVisible" class="pull-right">
              <img ng-src="img/Y.jpg"/>
          </div>  
      </div>
      </div>
       <div class="row">
     <div class="col">
        <a ng-click="Z()" class="button button-positive">Z</a>
          
      </div>
      <div class="col">
          <div ng-show="ZisVisible" class="pull-right">
              <img ng-src="img/Z.jpg"/>
          </div>  
      </div>
      </div>
      
 </ion-content>
</ion-view>