<ion-view view-title="Learn your ABC">
  <ion-content>
      <br>
      <center>
    <div class="row">
      <div class="col">
          <button ng-click="A.show()" class="button button-energized">A</button>
          <button ng-click="B.show()" class="button button-positive">B</button>
          <button ng-click="C.show()" class="button button-royal">C</button>
          <button ng-click="D.show()" class="button button-assertive">D</button>
          <button ng-click="E.show()" class="button button-balanced">E</button>
      </div>
    </div>
          
    <div class="row">
      <div class="col">
          <button ng-click="F.show()" class="button button-energized">F</button>
          <button ng-click="G.show()" class="button button-positive">G</button>
          <button ng-click="H.show()" class="button button-royal">H</button>
          <button ng-click="I.show()" class="button button-assertive">I</button>
          <button ng-click="J.show()" class="button button-balanced">J</button>
      </div>  
    </div>

    <div class="row">
      <div class="col">
          <button ng-click="K.show()" class="button button-energized">K</button>
          <button ng-click="L.show()" class="button button-positive">L</button>
          <button ng-click="M.show()" class="button button-royal">M</button>
          <button ng-click="N.show()" class="button button-assertive">N</button>
          <button ng-click="O.show()" class="button button-balanced">O</button>
      </div>
    </div>

    <div class="row">
     <div class="col">
         <button ng-click="P.show()" class="button button-energized">P</button>
         <button ng-click="Q.show()" class="button button-positive">Q</button>
         <button ng-click="R.show()" class="button button-royal">R</button>
         <button ng-click="S.show()" class="button button-assertive">S</button>
         <button ng-click="T.show()" class="button button-balanced">T</button>
      </div>
    </div>

    <div class="row">
     <div class="col">
         <button ng-click="U.show()" class="button button-energized">U</button>
         <button ng-click="V.show()" class="button button-positive">V</button>
         <button ng-click="W.show()" class="button button-royal">W</button>
         <button ng-click="X.show()" class="button button-assertive">X</button>
         <button ng-click="Y.show()" class="button button-balanced">Y</button>
      </div> 
    </div>
    <div class="row">
     <div class="col">
        <button ng-click="Z.show()" class="button button-energized">Z</button>
      </div> 
    </div>
   </center>   
 </ion-content>
</ion-view>