<ion-view view-title="About Us">
  <ion-content>
      
    <div class="card">
      <div class="item item-text-wrap">
        <center><img ng-src="img/logo.png"/>
        <h1>ABOUT US</h1><br>

          </center>
          <div>
<p text-align="justify">
    Using the technology to help children with special needs who inspire and guide us throughout the entire design process and analysis, "Play to Assist" offers learning in a fun and effective way. "Play to Assist" aims to enhance the memory of the children with our repetitive quizes that will sharpen their memory while learning. This will also help Teachers who want to improve the skills of their students with special needs.</p>
    <br>          
    <p>Play to Assist was developed between October 2015 and September 2016 by Jose Rizal University Students of Bachelor of Science in Information Technology.</p><br></div>

          <p><i class="icon ion-android-chat"></i> Message Us</p><a href="https://www.facebook.com/playtoassist">Facebook.com/playtoassist</a><br>
          <br>
          <p><i class="icon ion-android-call"></i> Contact Us</p>
          <p>0998-974-7429 / 0935-868-2792</p>
      </div>
    </div>
      
</ion-content>
</ion-view>