<ion-view view-title="Let's Study Colors">
  <ion-content>
      <br>
      <br>
      
    <center>
    <div class="row">
     <div class="col">
        <button ng-click="red.show()" class="button button-stable"><strong><font color="red">Red</font></strong></button>
        <button ng-click="orange.show()" class="button button-stable"><strong><font color="orange">Orange</font></strong></button>
        <button ng-click="yellow.show()" class="button button-stable"><strong><font color="yellow">Yellow</font></strong></button>  
         </div>  
    </div>
        <br>
    
       <div class="row">
     <div class="col">
        <button ng-click="green.show()" class="button button-stable"><strong><font color="green">Green</font></strong></button>  
        <button ng-click="blue.show()" class="button button-stable"><strong><font color="blue">Blue</font></strong></button>
        <button ng-click="purple.show()" class="button button-stable"><strong><font color="purple">Purple</font></strong></button>
        <button ng-click="pink.show()" class="button button-stable"><strong><font color="pink">Pink</font></strong></button>
         </div>  
    </div>
 </center>  
 </ion-content>
</ion-view>