<ion-view view-title="Dashboard" hide-back-button="true">
  <ion-content>
    
      <div class="list card">
        <div class="item">
    
           <center><h2>Welcome to Play to Assist</h2></center> 
            <center><p>we will help you learn as well as enjoy playing games<br> through our app! </p></center>
          </div>
          <div class="item item-image">
              <img src="img/logo2.png">
          </div>

          <a class="item assertive" href="#/app/quiz">

            <center> Play Now! </center>
          </a>

      </div>
   
  </ion-content>
</ion-view>
