<ion-view view-title="Dashboard" hide-back-button="true">
  <ion-content>
    
      <div class="list card">
        <div class="item">
    
           <center><h2>Welcome to Play to Assist</h2></center> 
            <center><p>We will help you learn as well as enjoy playing games<br> through our app! </p></center>
          </div>
          <div class="item item-image">
              <img src="img/logo2.png">
          </div>

          <a class="item assertive" href="#/app/quiz">

            <center> Play Now! </center>
          </a>
<!--          
<div style="visibility:hidden">
          
<audio autoplay loop id="music">                                        
                <source src="img/music.mp3" type="audio/mpeg"> 
        </audio>
</div>
<script>
bgmusic = document.getElementById("music");
     bgmusic.volume = 0.1;
</script>
-->
      </div>
  
  </ion-content>
</ion-view>
