<ion-view view-title="Quiz" hide-back-button>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Alphabet Quiz Grades
      </div>

      <a class="item" href="#" ng-repeat="x in grades" ng-if="x === 'Alphabet Quiz'">
        {{x.date_created}} {{x.quiz_score}}
      </a>
        
        <div class="item item-divider">
        Color Quiz Grades
      </div>

      <a class="item" href="#">
        Butterfinger
      </a>
        
         <div class="item item-divider">
        Counting Quiz Grades
      </div>

      <a class="item" href="#">
        Butterfinger
      </a>
        
         <div class="item item-divider">
        5 Senses Quiz Grades
      </div>

      <a class="item" href="#">
        Butterfinger
      </a>
        
         <div class="item item-divider">
        Shapes Quiz Grades
      </div>

      <a class="item" href="#">
        Butterfinger
      </a>
        
          <div class="item item-divider">
       Taste Quiz Grades
      </div>

      <a class="item" href="#">
        Butterfinger
      </a>
    </div>
 </ion-content>
</ion-view>