<ion-view view-title="Quiz" hide-back-button>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Alphabet Quiz Grades
      </div>
      <a class="item" href="#" ng-repeat="x in grades">
      <h2> {{x.date_created}}</h2>
      <p>Score: <b> {{x.quiz_score}}</b></p>
      </a>
        
        <div class="item item-divider">
        Color Quiz Grades
      </div>

     <a class="item" href="#" ng-repeat="x in grades2">
      <h2> {{x.date_created}}</h2>
      <p>Score: <b> {{x.quiz_score}}</b></p>
      </a>
        
         <div class="item item-divider">
        Counting Quiz Grades
      </div>

      <a class="item" href="#" ng-repeat="x in grades3">
      <h2> {{x.date_created}}</h2>
      <p>Score: <b> {{x.quiz_score}}</b></p>
      </a>
        
         <div class="item item-divider">
        5 Senses Quiz Grades
      </div>

      <a class="item" href="#" ng-repeat="x in grades4">
      <h2> {{x.date_created}}</h2>
      <p>Score: <b> {{x.quiz_score}}</b></p>
      </a>
        
         <div class="item item-divider">
        Shapes Quiz Grades
      </div>

      <a class="item" href="#" ng-repeat="x in grades5">
      <h2> {{x.date_created}}</h2>
      <p>Score: <b> {{x.quiz_score}}</b></p>
      </a>
        
          <div class="item item-divider">
       Taste Quiz Grades
      </div>

      <a class="item" href="#" ng-repeat="x in grades6">
      <h2> {{x.date_created}}</h2>
      <p>Score: <b> {{x.quiz_score}}</b></p>
      </a>
    </div>
 </ion-content>
</ion-view>