<ion-modal-view view-title="modal">
    <ion-header-bar>
      <h1 class="title">Decagon</h1>
         <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/decagon.jpg"/>
            <h1><font color="gray"><button class="button button-positive">D-E-C-A-G-O-N</button></font></h1>
            <u><h4><strong>Decagon has 10 sides</strong></h4></u></center>
    </ion-content>
  </ion-modal-view>