<ion-view view-title="5 Senses of the body">
  <ion-content>
      <br>
      <br>
    <center>
    <div class="col">
        <button ng-click="eye.show()" class="button button-energized"><strong>Sense of Sight</strong></button>
        <button ng-click="ear.show()" class="button button-assertive"><strong>Sense of Hearing</strong></button>
    </div>
    <div class="col">
        <button ng-click="nose.show()" class="button button-calm"><strong>Sense of Smell</strong></button>
         <button ng-click="skin.show()" class="button button-positive"><strong>Sense of Touch</strong></button> 
    </div>
    <div class="col">
        <button ng-click="tongue.show()" class="button button-royal"><strong>Sense of Taste</strong></button>
    </div> 
 </center>  
 </ion-content>
</ion-view>