<ion-view view-title="Let's Study Shapes">
  <ion-content>
    <div class="row">
      <div class="col">
          <button ng-click="modal.show()" class="button button-energized">Decagon</button>
          
      </div>
         <div class="col">
            <button ng-click="nonagon.show()" class="button button-positive">Nonagon</button>
        </div>  
        <div class="col">
            <button ng-click="octagon.show()" class="button button-royal">Octagon</button>
        </div>
        <div class="col">
            <button ng-click="heptagon.show()" class="button button-assertive">Heptagon</button>  
        </div>
    </div>
      
      
    <div class="row">
     <div class="col">
        <buttton ng-click="hexagon.show()" class="button button-energized">Hexagon</button> 
      </div>  
      <div class="col">
          <button ng-click="pentagon.show()" class="button button-dark">Pentagon</button>
      </div>
       <div class="col">
        <button ng-click="rectangle.show()" class="button button-positive">Rectangle</button>
      </div> 
        <div class="col">
        <button ng-click="parallelogram.show()" class="button button-royal">Parallelogram</button>
      </div> 
    </div>
      
    
      
      
    <div class="row">
     <div class="col">
        <button ng-click="diamond.show()" class="button button-energized">Diamond</button> 
      </div>  
        <div class="col">
        <button ng-click="square.show()" class="button button-positive">Square</button>
      </div>
         <div class="col">
        <button ng-click="triangle.show()" class="button button-royal">Triangle</button>
      </div>  
         <div class="col">
        <button ng-click="oval.show()" class="button button-assertive">Oval</button>  
      </div> 
        <div class="col">
        <button ng-click="circle.show()" class="button button-energized">Circle</button>
      </div>  
      </div>
      
      
 </ion-content>
</ion-view>