<ion-view view-title="Stories" hide-back-button="true">
  <ion-content>
    
      <div class="list card">
        <div class="item">
    
           <center><h2>Cinderella</h2></center> 
            <center><p>Cinderelle a beautiful girl, living in unfortunate circumstances, that are suddenly changed to remarkable fortune.</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://www.assistwebportal.com/videos/cinderella.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
      
      <div class="list card">
        <div class="item">
    
           <center><h2>Goldilocks and the three bears</h2></center> 
            <center><p>Goldilocks enters the forest home of three bears while they are away.</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://www.assistwebportal.com/videos/goldilocks.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
        
      <div class="list card">
        <div class="item">
    
           <center><h2>Hansel and Gretel</h2></center> 
            <center><p>Hansel and Gretel was lost in the woods and what did they found?</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://www.assistwebportal.com/videos/hansel and gretel.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
      
      <div class="list card">
        <div class="item">
    
           <center><h2>The Ant and The Grasshoper</h2></center> 
            <center><p>A story about the hard working ant and the lazy grasshoper</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://www.assistwebportal.com/videos/ant.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
      
      <div class="list card">
        <div class="item">
    
           <center><h2>Why the sky is high?</h2></center> 
            <center><p>Know what is the reason why the sky is high!</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://www.assistwebportal.com/videos/why.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
   
  </ion-content>
</ion-view>
