<ion-view view-title="Basic Taste">
  <ion-content>
      <br>
      <br>
    <center>
    <div class="col">
        <button ng-click="sweet.show()" class="button button-royal"><strong>Sweet</strong></button>
        <button ng-click="salty.show()" class="button button-positive"><strong>Salty</strong></button>
    </div>
    <div class="col">
        <button ng-click="sour.show()" class="button button-energized"><strong>Sour</strong></button>
         <button ng-click="bitter.show()" class="button button-balanced"><strong>Bitter</strong></button>
        <button ng-click="spicy.show()" class="button button-assertive"><strong>Spicy</strong></button>
    </div> 
 </center>  
 </ion-content>
</ion-view>