<ion-view view-title="Tutorials" hide-back-button="true">
  <ion-content>
    
      <div class="list card">
        <div class="item">
    
           <center><h2>Learn your ABC</h2></center> 
            <center><p>Learn the alphabet, Learn the ABC!</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://assistwebportal.com/videos/abc song.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
      
      <div class="list card">
        <div class="item">
    
           <center><h2>Count 123</h2></center> 
            <center><p>Learn how to count 123!</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://assistwebportal.com/videos/123.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
        
      <div class="list card">
        <div class="item">
    
           <center><h2>Identfy the shapes!</h2></center> 
            <center><p>Learn all the shapes there is!</p></center>
          </div>
          <div class="item item-image">
             <video width="320" height="240" controls preload="none">
                  <source src="http://assistwebportal.com/videos/shapes.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
          </div>

      </div>
   
  </ion-content>
</ion-view>
