<ion-view view-title="Tutorial">
  <ion-content>
    <div class="list">

      <div class="item item-button-right">
        Learn your Shapes
        <a ng-click="musicstopaudio();" class="button button-balanced" href="#/app/shapes">GO
        </a>
      </div>
         <div class="item item-button-right">
        Learn ABC's
        <a ng-click="musicstopaudio();" class="button button-balanced" href="#/app/abc">GO
        </a>
      </div>
         <div class="item item-button-right">
        Count 123
        <a ng-click="musicstopaudio();" class="button button-balanced" href="#/app/123">GO
        </a>
      </div>
        <div class="item item-button-right">
        Colors
        <a ng-click="musicstopaudio();" class="button button-balanced" href="#/app/color">GO
        </a>
      </div>
        <div class="item item-button-right">
        Senses of the Body
        <a ng-click="musicstopaudio();" class="button button-balanced" href="#/app/senses">GO
        </a>
      </div>
        <div class="item item-button-right">
        Basic Tastes
        <a ng-click="musicstopaudio();" class="button button-balanced" href="#/app/taste">GO
        </a>
      </div>
    </div>
 </ion-content>
</ion-view>