<ion-view view-title="Basic Taste Quiz">
  <ion-content>

      <div class="card">
          <div class="item item-text-wrap">
            <center><h1>What does Chili Pepper taste like?</h1><br>
                <img ng-src="img/sili.jpg"/>
                </center>
              <br><br>
              <center>
                <div class="row">
              <div class="col">
                <a class="button button-clear" ng-click="openCorrectModal('/app/tastesquiz4')" class="button button-royal"><font color="black"><strong>A) Spicy</strong></font></a>
              </div>  

              <div class="col">
                <a class="button button-clear" ng-click="openWrongModal('/app/tastesquiz4',20)" class="button button-royal"><font color="black"><strong>B) Bitter</strong></font></a>
              </div>  
            </div>
              </center>
          </div>
      </div>
      <button class="button button-block button-assertive" ng-click="endquiz(40,'Taste Quiz')">
      End Quiz
      </button>
      
      
 </ion-content>
</ion-view>