<ion-view view-title="Alphabet Quiz">
  <ion-content>

      <div class="card">
          <div class="item item-text-wrap">
            <center>
                <img ng-src="img/alpha/pencil.jpg"/>
                <h1> _ E N C I L</h1><br>
                </center>
              <br><br>
              <center>
                <div class="row">
                
                    
              <div class="col">
                <a class="button button-primary" ng-click="openWrongModal('/app/alphaquiz5',20)" class="button button-royal"><font color="black"><strong>T</strong></font></a>
              </div>  
               
                    <div class="col">
                <a class="button button-primary" ng-click="openCorrectModal('/app/alphaquiz5')" class="button button-royal"><font color="black"><strong>P</strong></font></a>
              </div>  
                  
              <div class="col">
                <a class="button button-primary" ng-click="openWrongModal('/app/alphaquiz5',20)" class="button button-royal"><font color="black"><strong>R</strong></font></a><br><br><br><br><br><br>
              </div>  
            </div>
              </center>
          </div>
      </div>
      <button class="button button-block button-assertive" ng-click="endquiz(60,'Alphabet Quiz')">
      End Quiz
      </button>
      
      
 </ion-content>
</ion-view>