<ion-modal-view view-title="A">
    <ion-header-bar>
      <h1 class="title">A</h1>
        <div class="button button-clear" ng-click="A.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/A.jpg"/><br>
            <button class="button button-energized"><font color="black"><u><strong>A is for Apple</strong></u></font></button><br><br>
            <audio controls id="A">                                        
                <source src="http://assistwebportal.com/sounds/A.mp3" type="audio/mpeg"> 
            </audio>
        </center>
        
    </ion-content>
    
  </ion-modal-view>