<ion-modal-view view-title="sweet">
    <ion-header-bar>
      <h1 class="title"><strong>Bitter</strong></h1>
         <div class="button button-clear" ng-click="bitter.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content><center>
            <h4><strong>Food with bitter taste are:</strong></h4></center>
            <center><div class="row responsive-sm">
                <div class="col">
            <strong><p style="font-family:Tahoma">Ampalaya</p><img ng-src="img/ampalaya.jpg"/>
            <p style="font-family:Tahoma">Coffee</p><img ng-src="img/kape.png"/></strong>
                </div>
                <div class="col">
            <strong><p style="font-family:Tahoma">Tea</p><img ng-src="img/tea.jpg"/>
            </strong>
                </div>  
            </div><br><br>
        <audio controls id="bitter">                                        
                <source src="img/bitter.mp3" type="audio/mpeg"> 
            </audio></center>
    </ion-content>
  </ion-modal-view>