<ion-modal-view view-title="blue">
    <ion-header-bar>
      <h1 class="title"><strong>Blue</strong></h1>
         <div class="button button-clear" ng-click="blue.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/blue.png"/>
            <h1><button ng-click="blueaudio();" class="button button-stable"><font color="blue"><u><strong>B-L-U-E</strong></u></font></button></h1>
            <u><h4><strong>Blue is the color of Blueberry</strong></h4></u><img ng-src="img/blueberry.jpg"/>
            <br><br>
            <audio controls id="blue">                                        
                <source src="img/blue.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>