<ion-modal-view view-title="C">
    <ion-header-bar>
      <h1 class="title">C</h1>
        <div class="button button-clear" ng-click="C.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/C.jpg"/><br>
            <button class="button button-energized"><font color="black"><u><strong>C is for Cat</strong></u></font></button><br><br>
            <audio controls id="C">                                        
                <source src="http://assistwebportal.com/sounds/C.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>