<ion-modal-view view-title="Correct">
    <ion-header-bar>
      <h1 class="title">Congratulations!</h1>
      <div class="button button-clear" ng-click="correct.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center>
             <h1 class="title">Your Answer is CORRECT!</h1>
            <h1><font color="gray"><a class="button button-primary" href="#">NEXT QUESTION</a></font></h1>
        </center>
    </ion-content>
  </ion-modal-view>