<ion-modal-view view-title="D">
    <ion-header-bar>
      <h1 class="title">D</h1>
        <div class="button button-clear" ng-click="D.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/D.jpg"/><br>
            <button ng-click="Daudio();" class="button button-energized"><font color="black"><u><strong>D is for Dog</strong></u></font></button><br><br>
            <audio controls id="D">                                        
                <source src="http://assistwebportal.com/sounds/D.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>