<ion-modal-view view-title="E">
    <ion-header-bar>
      <h1 class="title">E</h1>
        <div class="button button-clear" ng-click="E.hide();Eeaudio();"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/E.jpg"/><br>
            <button ng-click="Eaudio();" class="button button-energized"><font color="black"><u><strong>E is for Elephant</strong></u></font></button><br><br>
            <div style="visibility:hidden">
            <audio controls id="E">                                        
                <source src="img/E.mp3" type="audio/mpeg"> 
                </audio></div>
        </center>
    </ion-content>
  </ion-modal-view>