<ion-modal-view view-title="F">
    <ion-header-bar>
      <h1 class="title">F</h1>
        <div class="button button-clear" ng-click="F.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/f.jpg"/><br>
            <button ng-click="Faudio(); "class="button button-energized"><font color="black"><u><strong>F is for Fire</strong></u></font></button><br><br>
            <audio controls id="F">                                        
                <source src="http://assistwebportal.com/sounds/F.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>