<ion-modal-view view-title="G">
    <ion-header-bar>
      <h1 class="title">G</h1>
        <div class="button button-clear" ng-click="G.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/G.jpg"/><br>
            <button ng-click="Gaudio();" class="button button-energized"><font color="black"><u><strong>G is for Grapes</strong></u></font></button><br><br>
            <audio controls id="G">                                        
                <source src="http://assistwebportal.com/sounds/G.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>