<ion-modal-view view-title="heart">
    <ion-header-bar>
      <h1 class="title">Heart</h1>
        <div class="button button-clear" ng-click="heart.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/heart.jpg"/>
            <h1><button class="button button-clear button-energized"><font color="black"><u><strong>H-E-A-R-T</strong></u></font></button></h1>
            <u><h4><strong>Heart is the shape for love.</strong></h4></u>
        </center>
    </ion-content>
  </ion-modal-view>