<ion-modal-view view-title="heptagon">
    <ion-header-bar>
      <h1 class="title">Heptagon</h1>
         <div class="button button-clear" ng-click="heptagon.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/heptagon.jpg"/>
            <h1><font color="gray"><button class="button button-assertive">H-E-P-T-A-G-O-N</button></font></h1>
            <h4><strong><u>Heptagon has 7 sides</u></strong></h4>
        </center>
    </ion-content>
  </ion-modal-view>