<ion-modal-view view-title="hexagon">
    <ion-header-bar>
      <h1 class="title">Hexagon</h1>
         <div class="button button-clear" ng-click="hexagon.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/hexagon.jpg"/>
            <h1><font color="gray"><button class="button button-energized">H-E-X-A-G-O-N</button></font></h1>
            <h4><strong><u>Hexagon has 6 sides</u></strong></h4>
        </center>
    </ion-content>
  </ion-modal-view>