<ion-modal-view view-title="I">
    <ion-header-bar>
      <h1 class="title">I</h1>
        <div class="button button-clear" ng-click="I.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/I.jpg"/><br>
            <button ng-click="Iaudio();" class="button button-energized"><font color="black"><u><strong>I is for Ice Cream</strong></u></font></button><br><br>
            <audio controls id="I">                                        
                <source src="img/I.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>