<ion-modal-view view-title="J">
    <ion-header-bar>
      <h1 class="title">J</h1>
        <div class="button button-clear" ng-click="J.hide();Jjaudio();"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/J.jpg"/><br>
            <button ng-click="Jaudio();" class="button button-energized"><font color="black"><u><strong>J is for Jam</strong></u></font></button><br><br>
            <div style="visibility:hidden">
            <audio controls id="J">                                        
                <source src="img/J.mp3" type="audio/mpeg"> 
                </audio></div>
        </center>
    </ion-content>
  </ion-modal-view>