<ion-modal-view view-title="K">
    <ion-header-bar>
      <h1 class="title">K</h1>
        <div class="button button-clear" ng-click="K.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/K.jpg"/><br>
            <button class="button button-energized"><font color="black"><u><strong>K is for Kite</strong></u></font></button><br><br>
            <audio controls id="K">                                        
                <source src="http://assistwebportal.com/sounds/K.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>