<ion-modal-view view-title="M">
    <ion-header-bar>
      <h1 class="title">M</h1>
        <div class="button button-clear" ng-click="M.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/M.jpg"/><br>
            <button ng-click="Maudio();" class="button button-energized"><font color="black"><u><strong>M is for Mouse</strong></u></font></button><br><br>
            <audio controls id="M">                                        
                <source src="http://assistwebportal.com/sounds/M.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>