<ion-modal-view view-title="nonagon">
    <ion-header-bar>
      <h1 class="title">Nonagon</h1>
         <div class="button button-clear" ng-click="nonagon.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/nonagon.jpg"/>
            <h1><font color="gray"><button class="button button-positive">N-O-N-A-G-O-N</button></font></h1>
            <h4><strong><u>Nonagon has 9 sides</u></strong></h4>
        </center>
    </ion-content>
  </ion-modal-view>