<ion-modal-view view-title="nose">
    <ion-header-bar>
      <h1 class="title"><strong>Sense of Smell</strong></h1>
         <div class="button button-clear" ng-click="nose.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/nose.png"/>
            <h1><button class="button button-stable"><font color="black"><u><strong>Sense of Smell</strong></u></font></button></h1>
            <u><h4><strong>You can smell with your nose.</strong></h4></u>
        </center>
    </ion-content>
  </ion-modal-view>