<ion-modal-view view-title="number18">
    <ion-header-bar>
      <h1 class="title">Number 18</h1>
        <div class="button button-clear" ng-click="number18.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/18.jpg"/><br>
            <button ng-click="number18audio();" class="button button-energized"><font color="black"><u><strong>Eighteen Ufo</strong></u></font></button>
            <br><br>
             <audio controls id="number18">                                        
                <source src="img/18.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>