<ion-modal-view view-title="number4">
    <ion-header-bar>
      <h1 class="title">Number 4</h1>
        <div class="button button-clear" ng-click="number4.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/4.jpg"/><br>
            <button ng-click="number4audio();" class="button button-energized"><font color="black"><u><strong>Four Airplanes</strong></u></font></button>
            <br><br>
             <audio controls id="number4">                                        
                <source src="http://assistwebportal.com/sounds/4.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>