<ion-modal-view view-title="number16">
    <ion-header-bar>
      <h1 class="title">Number 16</h1>
        <div class="button button-clear" ng-click="number16.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/16.jpg"/><br>
            <button ng-click="number16audio();" class="button button-energized"><font color="black"><u><strong>Sixteen Trucks</strong></u></font></button>
            <br><br>
             <audio controls id="number16">                                        
                <source src="http://assistwebportal.com/sounds/16.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>