<ion-modal-view view-title="number14">
    <ion-header-bar>
      <h1 class="title">Number 14</h1>
        <div class="button button-clear" ng-click="number14.hide();n14audio();"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/14.jpg"/><br>
            <button ng-click="number14audio();" class="button button-energized"><font color="black"><u><strong>Fourteen Airplanes</strong></u></font></button>
            <br><br>
            <div style="visibility:hidden">
             <audio controls id="number14">                                        
                <source src="img/14.mp3" type="audio/mpeg"> 
                </audio></div>
        </center>
    </ion-content>
  </ion-modal-view>