<ion-modal-view view-title="number3">
    <ion-header-bar>
      <h1 class="title">Number 3</h1>
        <div class="button button-clear" ng-click="number3.hide();n3audio();"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/3.jpg"/><br>
        <button ng-click="number3audio();" class="button button-energized"><font color="black"><u><strong>Three Rockets</strong></u></font></button>
            <br><br>
            <div style="visibility:hidden">
             <audio controls id="number3">                                        
                <source src="img/3.mp3" type="audio/mpeg"> 
                </audio></div>
        </center>
    </ion-content>
  </ion-modal-view>