<ion-modal-view view-title="O">
    <ion-header-bar>
      <h1 class="title">O</h1>
        <div class="button button-clear" ng-click="O.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/O.jpg"/><br>
            <button class="button button-energized"><font color="black"><u><strong>O is for Octopus</strong></u></font></button><br><br>
            <audio controls id="O">                                        
                <source src="http://assistwebportal.com/sounds/O.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>