<ion-modal-view view-title="octagon">
    <ion-header-bar>
      <h1 class="title">Octagon</h1>
         <div class="button button-clear" ng-click="octagon.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/octagon.jpg"/>
            <h1><button class="button button-energized"><font color="black"><u><strong>O-C-T-A-G-O-N</strong></u></font></button></h1>
            <h4><strong><u>Octagon has 8 sides</u></strong></h4>
        </center>
    </ion-content>
  </ion-modal-view>