<ion-modal-view view-title="orange">
    <ion-header-bar>
      <h1 class="title"><strong>Orange</strong></h1>
         <div class="button button-clear" ng-click="orange.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/orange.jpg"/>
            <h1><button class="button button-stable"><font color="orange"><u><strong>O-R-A-N-G-E</strong></u></font></button></h1>
            <u><h4><strong>Orange is the color of Pumpkin</strong></h4></u><img ng-src="img/pumpkin.jpg"/>
        </center>
    </ion-content>
  </ion-modal-view>