<ion-modal-view view-title="oval">
    <ion-header-bar>
      <h1 class="title">Oval</h1>
         <div class="button button-clear" ng-click="oval.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/oval.jpg"/>
            <h1><font color="gray"><button class="button button-assertive">O-V-A-L</button></font></h1>
            <h4><strong><u> Oval is a rounded and slightly elongated shape like an egg</u></strong></h4>
        </center>
    </ion-content>
  </ion-modal-view>