<ion-modal-view view-title="oval">
    <ion-header-bar>
      <h1 class="title">Oval</h1>
         <div class="button button-clear" ng-click="oval.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/oval.png"/>
            <h1><button ng-click="ovalaudio():" class="button button-clear button-energized"><font color="black"><u><strong>O-V-A-L</strong></u></font></button></h1>
            <h4><strong><u> Oval is a rounded and slightly elongated shape like an egg</u></strong></h4>
            <br><br>
            <audio controls id="oval">                                        
                <source src="img/oval.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>