<ion-modal-view view-title="P">
    <ion-header-bar>
      <h1 class="title">P</h1>
        <div class="button button-clear" ng-click="P.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/P.jpg"/><br>
            <button ng-click="Paudio();" class="button button-energized"><font color="black"><u><strong>P is for Pencil</strong></u></font></button><br><br>
            <audio controls id="P">                                        
                <source src="http://assistwebportal.com/sounds/P.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>