<ion-modal-view view-title="parallelogram">
    <ion-header-bar>
      <h1 class="title">Parallelogram</h1>
         <div class="button button-clear" ng-click="parallelogram.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/parallelogram.jpg"/>
            <h1><font color="gray"><button class="button button-royal">P-A-R-A-L-L-E-L-O-G-R-A-M</button></font></h1>
            <u><h4><strong>Parallelogram has 4 sides with opposite side parallel</strong></h4></u>
        </center>
    </ion-content>
  </ion-modal-view>