<ion-modal-view view-title="parallelogram">
    <ion-header-bar>
      <h1 class="title">Parallelogram</h1>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/parallelogram.jpg"/>
            <h1><button class="button button-energized"><font color="black"><u><strong>P-A-R-A-L-L-E-L-O-G-R-A-M</strong></u></font></button></h1>
            <u><h4><strong>Parallelogram has 4 sides with opposite side parallel</strong></h4></u>
        </center>
    </ion-content>
  </ion-modal-view>