<ion-modal-view view-title="pink">
    <ion-header-bar>
      <h1 class="title"><strong>Pink</strong></h1>
         <div class="button button-clear" ng-click="pink.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/pink.png"/>
            <h1><button ng-click="pinkaudio();" class="button button-stable"><font color="pink"><u><strong>P-I-N-K</strong></u></font></button></h1>
            <u><h4><strong>Pink is the color of Dragon fruit</strong></h4></u><img ng-src="img/dragon.jpg"/>
            <br><br>
            <audio controls id="pink">                                        
                <source src="http://assistwebportal.com/sounds/pink.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>