<ion-modal-view view-title="Q">
    <ion-header-bar>
      <h1 class="title">Q</h1>
        <div class="button button-clear" ng-click="Q.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/Q.jpg"/><br>
            <button ng-click="Qaudio();" class="button button-energized"><font color="black"><u><strong>Q is for Queen</strong></u></font></button><br><br>
            <audio controls id="Q">                                        
                <source src="img/Q.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>