<ion-modal-view view-title="rectangle">
    <ion-header-bar>
      <h1 class="title">Rectangle</h1>
         <div class="button button-clear" ng-click="rectangle.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/rectangle.jpg"/>
            <h1><font color="gray"><button class="button button-positive">R-E-C-T-A-N-G-L-E</button></font></h1>
            <u><h4><strong>Rectangle has 4 sides but not like a square</strong></h4></u>
        </center>
    </ion-content>
  </ion-modal-view>