<ion-modal-view view-title="rectangle">
    <ion-header-bar>
      <h1 class="title">Rectangle</h1>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/rectangle.jpg"/>
            <h1><button class="button button-energized"><font color="black"><u><strong>R-E-C-T-A-N-G-L-E</strong></u></font></button></h1>
            <u><h4><strong>Rectangle has 4 sides but not like a square</strong></h4></u>
        </center>
    </ion-content>
  </ion-modal-view>