<ion-modal-view view-title="red">
    <ion-header-bar>
      <h1 class="title"><strong>Red</strong></h1>
         <div class="button button-clear" ng-click="red.hide();red1audio();"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/red.png"/>
            <h1><button ng-click="redaudio();" class="button button-stable"><font color="red"><u><strong>R-E-D</strong></u></font></button></h1>
            <u><h4><strong>Red is the color of Apple.</strong></h4></u><img ng-src="img/apple.png"/>
            <br><br>
            <div style="visibility:hidden">
            <audio controls id="red">                                        
                <source src="img/red.mp3" type="audio/mpeg"> 
                </audio></div>
        </center>
    </ion-content>
  </ion-modal-view>