<ion-modal-view view-title="S">
    <ion-header-bar>
      <h1 class="title">S</h1>
        <div class="button button-clear" ng-click="S.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/S.jpg"/><br>
            <button ng-click="Saudio();" class="button button-energized"><font color="black"><u><strong>S is for Sandwich</strong></u></font></button><br><br>
            <audio controls id="S">                                        
                <source src="img/S.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>