<ion-modal-view view-title="salty">
    <ion-header-bar>
      <h1 class="title"><strong>Salty</strong></h1>
         <div class="button button-clear" ng-click="salty.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center>
            <h4><strong>Food with salty taste are:</strong></h4></center>
        <center><div class="row">
            <div class="col">
            <strong>
                <p style="font-family:Tahoma">Peanuts</p><img ng-src="img/nut.jpg"/>
                <p style="font-family:Tahoma">Popcorn</p><img ng-src="img/pop.png"/>
            </strong>
            </div>
            <div class="col">
            <strong>
                <p style="font-family:Tahoma">Chips</p><img ng-src="img/chip.jpg"/>
                <p style="font-family:Tahoma">French Fries</p><img ng-src="img/ff.jpg"/>
            </strong>
            </div>
        </div></center>
    </ion-content>
  </ion-modal-view>