<ion-modal-view view-title="skin">
    <ion-header-bar>
      <h1 class="title"><strong>Sense of Touch</strong></h1>
         <div class="button button-clear" ng-click="skin.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/hand.png"/>
            <h1><button ng-click="touchaudio();" class="button button-stable"><font color="black"><u><strong>Sense of Touch</strong></u></font></button></h1>
            <u><h4><strong>You can touch and feel with your hands.</strong></h4></u>
             <br>
            <br>
            <audio controls id="touch">                                        
                <source src="http://assistwebportal.com/sounds/touch.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>