<ion-modal-view view-title="sweet">
    <ion-header-bar>
      <h1 class="title"><strong>Sour</strong></h1>
         <div class="button button-clear" ng-click="sour.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content><center>
            <h4><strong>Food with sour taste are:</strong></h4></center>
            <center><div class="row responsive-sm">
                <div class="col">
            <strong><p style="font-family:Tahoma">Lemon</p><img ng-src="img/lemon.png"/>
            <p style="font-family:Tahoma">Orange</p><img ng-src="img/dalandandan.png"/></strong>
                </div>
                <div class="col">
            <strong><p style="font-family:Tahoma">Calamnsi</p><img ng-src="img/calamansi.jpg"/>
            <p style="font-family:Tahoma">Kiwi</p><img ng-src="img/kiwi.png"/></strong>
                </div>  
            </div><br><br>
        <audio controls id="sour">                                        
                <source src="http://assistwebportal.com/sounds/sour.mp3" type="audio/mpeg"> 
            </audio></center>
    </ion-content>
  </ion-modal-view>