<ion-modal-view view-title="square">
    <ion-header-bar>
      <h1 class="title">Square</h1>
         <div class="button button-clear" ng-click="square.hide();squarestopaudio();"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <br>
        <br>
        <center><img ng-src="img/square.png"/>
            <h1><button ng-click="squareaudio();" class="button button-clear button-energized"><font color="black"><u><strong>S-Q-U-A-R-E</strong></u></font></button></h1>
            <u><h4><strong>Square has 4 equal sides</strong></h4></u>
            <br>
            <br>
            <div style="visibility:hidden">
            <audio controls id="square">                                        
                <source src="img/square.mp3" type="audio/mpeg"> 
                </audio></div>
        </center>
    </ion-content>
  </ion-modal-view>
    
    
