<ion-modal-view view-title="sweet">
    <ion-header-bar>
      <h1 class="title"><strong>Sweet</strong></h1>
         <div class="button button-clear" ng-click="sweet.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content><center>
            <h4><strong>Food with sweet taste are:</strong></h4></center>
            <center><div class="row responsive-sm">
                <div class="col">
            <strong><p style="font-family:Tahoma">Cupcake</p><img ng-src="img/cup.png"/>
            <p style="font-family:Tahoma">Chocolate</p><img ng-src="img/choco.jpg"/></strong>
                </div>
                <div class="col">
            <strong><p style="font-family:Tahoma">Candy</p><img ng-src="img/candy.jpg"/>
            <p style="font-family:Tahoma">Cookies</p><img ng-src="img/cookie.jpg"/></strong>
                </div>  
            </div><br><br>
        <audio controls id="sweet">                                        
                <source src="img/sweet.mp3" type="audio/mpeg"> 
            </audio></center>
    </ion-content>
  </ion-modal-view>