<ion-modal-view view-title="skin">
    <ion-header-bar>
      <h1 class="title"><strong>Sense of Taste</strong></h1>
         <div class="button button-clear" ng-click="tongue.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/mouth.png"/>
            <h1><button class="button button-stable"><font color="black"><u><strong>Sense of Taste</strong></u></font></button></h1>
            <u><h4><strong>You can taste with your mouth.</strong></h4></u>
        </center>
    </ion-content>
  </ion-modal-view>