<ion-modal-view view-title="Y">
    <ion-header-bar>
      <h1 class="title">Y</h1>
        <div class="button button-clear" ng-click="Y.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/Y.jpg"/><br>
            <button ng-click="Yaudio();" class="button button-energized"><font color="black"><u><strong>Y is for Yarn</strong></u></font></button><br><br>
            <audio controls id="Y">                                        
                <source src="img/Y.mp3" type="audio/mpeg"> 
            </audio>
        </center>
    </ion-content>
  </ion-modal-view>