<ion-modal-view view-title="Z">
    <ion-header-bar>
      <h1 class="title">Z</h1>
        <div class="button button-clear" ng-click="Z.hide();Zzaudio();"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <center><img ng-src="img/Z.jpg"/><br>
            <button ng-click="Zaudio();" class="button button-energized"><font color="black"><u><strong>Z is for Zebra</strong></u></font></button><br><br>
            <div style="visibility:hidden">
            <audio controls id="Z">                                        
                <source src="img/Z.mp3" type="audio/mpeg"> 
                </audio></div>
        </center>
    </ion-content>
  </ion-modal-view>