<ion-view view-title="Colors Quiz">
  <ion-content>

      <div class="card">
          <div class="item item-text-wrap">
            <center><h1>What color is this?</h1><br>
              <img ng-src="img/pink.png"/> and <img ng-src="img/green.png"/>
                </center>
              <br><br>
              <center>
                <div class="row">
              <div class="col">
                <a class="button button-clear" ng-click="openWrongModal('/app/colorquiz9',10)" class="button button-royal"><font color="black"><strong>A) Yellow and Blue</strong></font></a>
              </div>  

              <div class="col">
                <a class="button button-clear" ng-click="openCorrectModal('/app/colorquiz9')" class="button button-royal"><font color="black"><strong>B) Pink and Green</strong></font></a>
              </div>  
            </div>
              </center>
          </div>
      </div>
      <button class="button button-block button-assertive" ng-click="endquiz(70,'Color Quiz')">
      End Quiz
      </button>
      
      
 </ion-content>
</ion-view>