<ion-view view-title="Shapes Quiz">
  <ion-content>

      <div class="card">
          <div class="item item-text-wrap">
            <center><h1>What shape is this?</h1><br>
              <img ng-src="img/heart.jpg"/>
                <h4><strong><u>It is the shape for love.</u></strong></h4>
                </center>
              <br><br>
              <center>
                <div class="row">
              <div class="col">
                <a class="button button-clear" ng-click="openCorrectModal('/app/shapesquiz7')"><font color="black"><strong>A) Heart</strong></font></a>
              </div>  

              <div class="col">
                <a class="button button-clear" ng-click="openWrongModal()"><font color="black"><strong>B) Oval</strong></font></a>
              </div>  
            </div>
              </center>
          </div>
      </div>
      
         <button class="button button-block button-assertive" ng-click="endquiz(50,'Shapes Quiz')">
      End Quiz
      </button>
 </ion-content>
</ion-view>