<ion-view view-title="Shapes Quiz">
  <ion-content>

      <div class="card">
          <div class="item item-text-wrap">
            <center><h1>What shape is this?</h1><br>
              <img ng-src="img/rectangle.png"/>
                <h4><strong><u>Its like a square but has 2 sides equal to each other.</u></strong></h4>
                </center>
              <br><br>
              <center>
                <div class="row">
              <div class="col">
                <a class="button button-clear" ng-click="openWrongModal('/app/shapesquiz6')"><font color="black"><strong>A) Heart</strong></font></a>
              </div>
                    
                <div class="col">
                <a class="button button-clear" ng-click="openCorrectModal('/app/shapesquiz6')"><font color="black"><strong>B) Rectangle</strong></font></a>
                </div> 
            </div>
              </center>
          </div>
      </div>
      
         <button class="button button-block button-assertive" ng-click="endquiz(50,'Shapes Quiz')">
      End Quiz
      </button>
 </ion-content>
</ion-view>